<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        style.
            body {
                background-color: #dfdfdf;
                width: 320px;
                height: 620px;
            }

            .container {
                width: 90%;
                height: 90%;
                margin: auto;
                display: flex;
                flex-deirection: column;
                background-color: white;
                border-radius: 4px;
            }
    body
        .container Hello
        p You have been invited to #{chatname}