<!DOCTYPE html>
<html>
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="533576696991-or04363ojdojrnule3qicgqmm7vmcahf.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="jquery-scrollto/lib/jquery-scrollto.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/chat.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css" media="Screen" />
    <link rel="stylesheet" type="text/css" href="css/mobilechat.css" media="handheld" />
    <title>ChenChat</title>
  </head>
  <body>
    <script>
      window.onload = function() {
        console.log("BEGIN OF ONLOAD");
        if (username == null) {
          window.location.href = "/";
        }
        else {
          socket.emit('check login', username);


          let chatRoom = url.searchParams.get("chatSelect");

          document.getElementById('chat_name').innerHTML = chatRoom;
          chat_name = chatRoom;
          //check if the current user is the creator of the chatroom
          socket.emit('creator check', {user: username, chatroomName: chat_name});
          let messageArray =  <%- JSON.stringify(messages) %>
          for (let i = 0; i < messageArray.length; i++) {
            let listElt;
            if(messageArray[i].from == username) {
              listElt = $("<li><span style='float:right'>" + messageArray[i].from + ": " + messageArray[i].body + "</span></li>");
            }
            else {
              listElt = $('<li>').text(messageArray[i].from + ": " + messageArray[i].body);
            }
            listElt = listElt.append($('<br>'));

            let whole = listElt.append($('<small>').text(messageArray[i].timestamp));
            $('#messages').append(whole);
          }

          var memberArray = <%- JSON.stringify(members) %>
          socket.emit('get email', {username:username, memberArray:memberArray});
          updateScroll();
          // send chat room name to send message via google home
          socket.emit('chatNameForGoogleMessage', chat_name);
          console.log("END OF ONLOAD");
        }
      }
      
      function addNewMembers() {
        let emails = document.getElementById("chat_members").value;
        if (emails == '') {
          window.location.href = '#close';
          return;
        }

        let stripped = emails.replace(/\s/g, "");
        let splitArr = stripped.split(',');
        let emailArr = splitArr.filter(item => item.trim() !== '');

        let itemFound = false;
        for (let i = 0; i < emailArr.length; i++) {
          $('#members li').each( function() {
            if ( $(this).text() === emailArr[i] ) {
              itemFound = true;
            }
          });

          if (!itemFound) {
            let memlist = $('<li>').append(emailArr[i]);
            memlist = memlist.append($('<br>'));
            $('#members').append(memlist);
          }
        }
        socket.emit('entered emails', {emails: emails, chatName: chat_name});
        window.location.href = '#close';
        return;
      }

    </script>

    <div class="grid-container">
      <header>
        <h1 class="title" id="chat_name"> </h1>
        <button class="back-button" onclick="goBack();"> Back </button>
        <a href="/" class="signOut" onclick="signOut();"> Log out </a>
      </header>
      <!-- TODO: Add this button to the header like the back/sign out button -->

      <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">X</a>
          <h2>Add New Members</h2>
          <form id="mememail" class="mem-form" name="mememail" enctype="application/json">
          <input type="email" placeholder="Gmail addresses (separated by commas)" id="chat_members" name="members" autocomplete="off" multiple/><br><br><br>
          <input id="addMembers" type="submit" value="Submit"/>
        </form>
        </div>
      </div>

      <div class="chat-content">
        <ul id="messages">
        </ul>
      </div>

      <div class="help-bar">
        <h3 id="help-title"> Example Voice Commands </h3>
        <br>
        <div class="help-content">
          <p id="start-info">
            TO START: Say "hey Google" or "ok Google" to Google Home. Then say "Talk to C Chat"
          </p>
          <br>
          <p id="list-start"> List of sample commands for Google Home</p>
          <h5>Send for help</h5>
          <li>Help me.</li>
          <li>Call for help!</li>
          <li>Send help.</li>
          <h5>Say how you're feeling</h5>
          <li>I want to go to bed.</li>
          <li>I'm thirsty!</li>
          <li>Starving!</li>
      <h5>Express a personal need</h5>
          <li>I need to type.</li>
          <li>I need to use the phone.</li>
          <li>I want to use the mouse.</li>
      <h5>Ask for help finding objects</h5>
          <li>I need my straw.</li>
          <li>I can’t find my mouthpiece.</li>
      <h5>Switch to different tasks</h5>
          <li>Switch to the keyboard.</li>
          <li>Mouse</li>
      <h5>Create a chat group or navigate to an existing one</h5>
          <li>Enter chat group ‘Food’.</li>
      <h5>Customize your own message</h5>
        <li>Send message ‘Come downstairs’.</li>
        <li>Send ‘What’s up’ to ‘Friends’.</li>
      <h5>End a conversation with the ChenChat app</h5>
        <li>Leave chat.</li>
        <li>I'm done chatting.</li>
        <li>Close app.</li>
          <ul class="help-list">
          </ul>
        </div>
      </div>

      <div class="member-list">
        <div id="add-btn">
          <button type="button" class="btn-plus" onclick="openMod();">
            <span class="glyphicon glyphicon-plus"></span>
            Add
          </button>
        </div>
        <ul id="members">
        </ul>
      </div>

      <div class="msg-box">
        <form id="flex-msg-form" class="flex-msg-form" method="post" action="/" enctype="application/json">
          <input id="m" name="message" autocomplete="off" />
          <button id="send-button" disabled>Send</button>
        </form>
      </div>
    </div>
  </body>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</html>
