@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body {
  background-color: #C5DDEB;
}
h1 {
  font: 50px Helvetica, Arial;
  color: #374251;
  font-weight: bold;
  text-align: center;
}
.blank-error {
  display: none;
  font-size: 18px;
  color: red;
  font-weight: normal;
}
.help-button {
  font-family: Helvetica Neue, Arial;
  font-size: 15px;
  background-color: #E38968;
  border: none;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
  width: 60px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 30px;
  margin-left: 12px;
}
h2 {
  font: 30px Helvetica, Arial;
  color: gray;
  font-weight: normal;
  text-align: center;
}
a.signOut {
  font-family: Helvetica Neue, Arial;
  background-color: #E38968;
  border: none;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
  width: 70px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-right: 12px;
}
#container {
  position: absolute;
  width: 340px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -170px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}
form {
  margin: 0 auto;
  margin-top: 10px;
}

.chat-rm {
  text-align: center;
}

.chatrm-form{
  font: 25px Helvetica Neue, Arial;
  font-weight: bold;
  color: #374251;
  padding-top: 10px;

}
p {
  font: 12px Helvetica, Arial;
  color: gray;
  font-weight: light;
}

form input[type=text] {
  margin-left: 56px;
}
form input[type=button] {
  margin-top: 30px;
  width: 20%;
  height: 40px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /*font-weight: bold;*/
  background: #E38968;

  &:hover {
    color: darken($blue, 7%);
  }
}
form input[type=button]
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}
p {
  font-size: 11px;
  color: #aaa;
  float: right;
  margin-top: -13px;
  margin-right: 20px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}
p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=text],
input[type=email] {
  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 290px;
  height: 35px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}
input[type=text]:hover,
input[type=email]:hover {
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
input[type=text]:focus,
input[type=email]:focus {
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
#lower {
  background: #ecf2f5;
  width: 100%;
  height: 69px;
  margin-top: 20px;
}

.my-chatrooms {
  margin-top: 40px;
}

#my-chats-title {
  font: 40px Helvetica, Arial;
  font-weight: bold;
  background: -webkit-linear-gradient(#374251, #8696ac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-of-chats {
  overflow-y: scroll;
  list-style-type: none;
}

button {
  font-size: 20px;
  font-family: Helvetica Neue, Arial;
  background-color: #EDB6A0;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  height: 70px;
  width: 180px;
}
button:hover {
  background: #E38968;
  background-image: -webkit-linear-gradient(top, #E38968, #F2CABB);
  background-image: -moz-linear-gradient(top, #E38968, #F2CABB);
  background-image: -ms-linear-gradient(top, #E38968, #F2CABB);
  background-image: -o-linear-gradient(top, #E38968, #F2CABB);
  background-image: linear-gradient(to bottom, #E38968, #F2CABB);
  text-decoration: none;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {

  form input[type=button] {
    width: 100%;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #E38968;
    border-style: groove;
    position: sticky;
  }

  a.signOut {
    position:sticky;
  }


}
