@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background-color: #C5DDEB;
  font: 28px Helvetica, Arial;
  color: #374251;
  font-weight: normal;
  text-align: left;
}

.help {
  font-family: Helvetica Neue, Arial;
}

li {
  margin: 0 0 10px 0;
}